@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson&family=Montserrat&display=swap');

header {
    background: #4F74B1;
    min-height: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    margin-bottom: 10vh;
}

.header-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.menu-list{
    gap: var(--spacer-10);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    font-weight: bold;
}

.header-navbar{
    font-size: var(--font-size--small);
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    border-bottom: 1px solid white;
}
.logo {
    font-size: var(--font-size--huger   );
    font-weight: lighter;
    font-family: 'Judson';
    text-shadow: var(--shadow-text);
}
.right-elt {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
.right-elt p{
    margin-top: 6.1%;
}
.header-role{
    position: relative;
    font-size: small;   
}
.header-exit{
    position:relative;
    margin-top:-2.5rem;
}
#sliding-menu {
  position: absolute;
  left: -200px;
  transition: left 0.3s ease;
  width: 180px;
  height: 140px;;
  padding: 10px;
  background-color: #f1f1f1;
}

#sliding-menu.show {
  left: 0;
}

#menu-button {
position: relative;
width:160px;
height:40px;
box-shadow: none;
padding: 0px;
}
.sticky{
    position:sticky;
}
.role{
    position:relative;
    left:-0.2rem;
}
#menu-button span{
    bottom:0.5rem;
    position:relative;
}
